name: Infra - Deploy Function App

on:
  workflow_dispatch:
  push:
    branches: [ infra-setup ]
    paths:
      - "Infra/**"

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: dev
    env:
      ARM_CLIENT_ID:        ${{ fromJson(secrets.AZURE_CREDENTIALS).CLIENTID }}
      ARM_CLIENT_SECRET:    ${{ fromJson(secrets.AZURE_CREDENTIALS).CLIENTSECRET }}
      ARM_TENANT_ID:        ${{ fromJson(secrets.AZURE_CREDENTIALS).TENANTID }}
      ARM_SUBSCRIPTION_ID:  ${{ fromJson(secrets.AZURE_CREDENTIALS).SUBSCRIPTIONID }}

    defaults:
      run:
        working-directory: ./

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        if: github.ref == 'refs/heads/infra-setup'